<div class="row">
<div class="col-xs-12 contentArea">

	<div class="col-xs-9 col-xs-offset-2 ">
		<img src="img/price_top.png" class="img-responsive">
	</div>
    <div class="row">
	<div class="col-xs-10 col-xs-offset-2">
		<h2>Preisliste Damen</h2>
	</div>

	
		<div class="col-xs-7 col-xs-offset-2">
			<p>Haarschnitt (kurzes bis mittellanges Haar; selbst F&ouml;hnen)</p>
		</div>
		<div class="col-xs-3">
			&euro; 15,00
		</div>
		<div class="col-xs-7 col-xs-offset-2">
			<p>Haarschnitt mit Waschen und Frisur inkl. Festiger und Spray</p>
		</div>
		<div class="col-xs-3">
			&euro; 27,00
		</div>
		<div class="col-xs-7 col-xs-offset-2">
			<p>Intensivkur f&uuml;r strapaziertes Haar (mit W&auml;rme)</p>
		</div>
		<div class="col-xs-3">
			&euro; 10,00
		</div>
	
	<p></p>
	
		<div class="col-xs-10 col-xs-offset-2 fineprint">
			<p>Preise f&uuml;r Hochsteckfrisuren f&uuml;r alle Anl&auml;sse erfragen Sie bitte im Salon</p>
		</div>
		<div class="col-xs-10 col-xs-offset-2 fineprint">
			<p>Preise f&uuml;r langes Haar erfragen Sie bitte im Salon</p>
		</div>
		

	</div>
	<p></p>
	<p></p>
	<div class="row">
			<div class="col-xs-10 col-xs-offset-2">
				<h2>Farbbehandlungen</h2>
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Kammstr&auml;hnen (kurzes Haar)</p>
			</div>
			<div class="col-xs-3">
				&euro; 13,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Haubenstr&auml;hnen (mit Blondierung)</p>
			</div>
			<div class="col-xs-3">
				&euro; 23,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Haubenstr&auml;hnen (mit Farbe)</p>
			</div>
			<div class="col-xs-3">
				&euro; 27,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>T&ouml;nung (kurzes Haar)</p>
			</div>
			<div class="col-xs-3">
				&euro; 22,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Ansatzf&auml;rben (bis 1 cm Ansatz)</p>
			</div>
			<div class="col-xs-3">
				&euro; 23,00
			</div>
		
	</div>
	<p></p>
	<p></p>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
			<h2>Dauerwelle</h2>
		</div>
		
			<div class="col-xs-7 col-xs-offset-2">
				<p>Die alkalische Dauerwelle, f&uuml;r normales bis kurzes Haar</p>
			</div>
			<div class="col-xs-3">
				&euro; 46,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Die TopCreative Dauerwelle, f&uuml;r normales, leicht empfindliches Haar</p>
			</div>
			<div class="col-xs-3">
				&euro; 55,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Die milde Dauerwelle f&uuml;r beanspruchtes, empfindliches Haar</p>
			</div>
			<div class="col-xs-3">
				&euro; 62,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Evolution Dauerwelle, PH- neutral (Goldwell)</p>
			</div>
			<div class="col-xs-3">
				&euro; 62,00
			</div>
			
		
	</div>
	<p></p>
	<p></p>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
			<h2>Preisliste Herren</h2>
		</div>
		
			<div class="col-xs-7 col-xs-offset-2">
				<p>Haarschnitt mit Waschen und F&ouml;hnen inkl. Beratung und Styling</p>
			</div>
			<div class="col-xs-3">
				&euro; 15,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Haarschnitt nass oder trocken</p>
			</div>
			<div class="col-xs-3">
				&euro; 13,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Konturhaarschnitt (mit Maschine)</p>
			</div>
			<div class="col-xs-3">
				&euro; 10,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Entspannungsmassage mit Kopflotion</p>
			</div>
			<div class="col-xs-3">
				&euro; 3,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Bart schneiden</p>
			</div>
			<div class="col-xs-3">
				&euro; 5,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Kammstr&auml;hnen Oberkopf kurzes Haar</p>
			</div>
			<div class="col-xs-3">
				&euro; 13,00
			</div>
			
			
		
	
	<p></p>
	
		<div class="col-xs-10 col-xs-offset-2 fineprint">
			<p>Aus hygienischen Gr&uuml;nden schneiden wir Nass- und Trockenschnitte nur an frisch gewaschenem Haar.</p>
		</div>
		<div class="col-xs-10 col-xs-offset-2 fineprint">
			<p>Preise f&uuml;r F&auml;rben bei Herren bitte im Salon erfragen.</p>
		</div>
		
	
	</div>
	<p></p>
	<p></p>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
			<h2>Kinderhaarschnitt</h2>
		</div>
		
			<div class="col-xs-7 col-xs-offset-2">
				<p>bis 6 Jahre</p>
			</div>
			<div class="col-xs-3">
				&euro; 8,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>bis 11 Jahre</p>
			</div>
			<div class="col-xs-3">
				&euro; 11,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>ab 12 Jahre bis 15 Jahre</p>
			</div>
			<div class="col-xs-3">
				&euro; 12,00
			</div>
			<div class="col-xs-7 col-xs-offset-2">
				<p>Teenies (M&auml;dchen) bis 16 Jahre</p>
			</div>
			<div class="col-xs-3">
				&euro; 18,00
			</div>
			
		
	</div>
	<div class="col-xs-9 col-xs-offset-2">
		<img src="img/price_bottom.png" class="img-responsive">
	</div>
    			
</div>
</div>