<div class="container">
    <div class="row" id="view">
    	<img id="bgImg" src="../img/bg.jpg" width="100%" height="auto" alt="Background Image">
    	<div class="flip-container ma1" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img src="../img/ma01.png" alt="" class="girls" ng-style="cssMa1">
                </div>
                <div class="back">
                    <span class="name" style="width: 60px">Nadia</span>
                    <img src="../img/ma01hover.png" alt="" class="girls" ng-style="cssMa1">
                </div>
            </div>
        </div>
        <div class="flip-container ma2" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img src="../img/ma02.png" alt="" class="girls" ng-style="cssMa2">
                </div>
                <div class="back">
                    <span class="name">Rosette</span>
                    <img src="../img/ma02hover.png" alt="" class="girls" ng-style="cssMa2">
                </div>
            </div>
        </div>
        <div class="flip-container ma3" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img src="../img/ma03.png" alt="" class="girls" ng-style="cssMa3">
                </div>
                <div class="back">
                    <span class="name">Daniela</span>
                    <img src="../img/ma03hover.png" alt="" class="girls" ng-style="cssMa3">
                </div>
            </div>
        </div>
        <div class="flip-container ma4" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img src="../img/ma04.png" alt="" class="girls" style="width: 231px;" ng-style="cssMa4">
                </div>
                <div class="back ">
                    <span class="name" style="width: 50px; margin-left: -55px">Lucia</span>
                    <img src="../img/ma04hover.png" alt="" class="girls" style="width: 231px;" ng-style="cssMa4">
                </div>
            </div>
        </div>
    </div>
</div>